<form autocomplete="off" novalidate [formGroup]="form">
	
		<fieldset>
			<legend>Register</legend>
			<div>
				<label for="text">Username</label>
				<input type="text" name="text" formControlName="username">
			</div>
			<div>
				<label for="password">Password</label>
				<input type="password" name="password" formControlName="password">
			</div>
		</fieldset>
		<div>
			<div></div>
			<button (click)="register()">Register</button>
		</div>	
</form>

<p>Already having an account??? <a (click)="page.emit('login')">Click to here to login</a></p>
